
    <!-- navigation start -->
    <nav>
        <!-- logo -->

        <div class="logo">
            <h3><a href="home.php">GRND</a></h3>
        </div>

        <ul class="nav-links">
            <li><a href="make_res.php">Reservations</a></li>
            <li><a href="edit_res.php">Edit reservation</a></li>
            <li><a href="cancel.php">Cancel Reservation</a></li>
        </ul>
        <div class="logout">
            <button> logout</button>
        </div>
    </nav>
    <!-- navigation end -->
    <hr>
