<header>
    <nav>
        <a href="../home.php">Welcome</a>
    </nav>

    <nav>
        <li class="dropdown">
            <a href="#" class="dropbtn">Reports & Guests Experience</a>
            <div class="dropdown-content">
                <a href="show_comments.php">view comments</a>
                <a href="show_rating.php">rating report</a>
                <a href="room_report.php">room report</a>
                <a href="cancelation_report.php">canceling report</a>
                <a href="editing_report.php">editing report</a>
                <a href="most_booked_room.php">most booked room report</a>
        </li>
        
        <li class="dropdown">
            <a href="#" class="dropbtn">Accounts</a>
            <div class="dropdown-content">
                <a href="reception_promotion.php">receptionist promotion</a>
                <a href="edit_my_pin.php">edit my PIN</a>
                <a href="new_receptionist.php">new receptionist</a>
                <a href="enable_receptionist_account.php">enable receptionist account</a>
                <a href="enable_guest_account.php">enable guest account</a>
                <a href="disable_receptionist_account.php">disable receptionist account</a>
                <a href="disable_guest_account.php">disable guest account</a>
            </div>
        </li>
    </nav>

    <nav>
        <a href="../../../logOut.php">logout</a>
    </nav>
</header>