<header>
    <nav>
        <p>Welcome</p>
    </nav>

    <nav>
        <li class="dropdown">
            <a href="#" class="dropbtn">Reports & Guests Experience</a>
            <div class="dropdown-content">
                <a href="#">view comments</a>
                <a href="#">rating report</a>
                <a href="#">room report</a>
                <a href="#">canceling report</a>
                <a href="#">editing report</a>
                <a href="#">most booked room report</a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropbtn">Accounts</a>
            <div class="dropdown-content">
                <a href="reception_promotion.php">receptionist promotion</a>
                <a href="#">edit my PIN</a>
                <a href="#">new receptionist</a>
                <a href="#">enable receptionist account</a>
                <a href="#">enable guest account</a>
                <a href="#">disable receptionist account</a>
                <a href="#">disable guest account</a>
            </div>
        </li>
    </nav>

    <nav>
        <a href="#">logout</a>
    </nav>
</header>