*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
nav{
    padding: 0px;
    display: flex;
    justify-content:space-between ;
     align-items: center;
     min-height: 8vh;
     background-color: rgb(255, 255, 255);
     font-family: 'poppins',sans-serif;
}
.logo{
    padding-top: 20px;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 20px;
    
}
.logo a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
}

.nav-links{
    padding-top: 20px;
    display:flex;
    justify-content: space-between;
    width: 25%;
}
.nav-links li{
    list-style: none;
   
}
.nav-links a{
    margin-right: 5px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 17px;
}
.vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 25px;
    position:static;
    left: 50%;
    margin-left: 3px;
    top: 0;
  }